ReplicaManager-ejb/src/conf/wsdl/localhost_8080/FrontEnd-war/heartBeatReceiverWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://heartBeatReceiver/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://heartBeatReceiver/">

<xs:element name="heartBeatReceive" type="tns:heartBeatReceive"/>

<xs:element name="heartBeatReceiveResponse" type="tns:heartBeatReceiveResponse"/>

<xs:element name="init" type="tns:init"/>

<xs:element name="initResponse" type="tns:initResponse"/>

<xs:complexType name="init">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="initResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="heartBeatReceive">
<xs:sequence>
<xs:element name="heartBeat" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="heartBeatReceiveResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>